// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
@import 'nib'

@import '_base'
@import '_ui'

// Import your styles here

@import '_states'
@import '_layout'
@import '_responsive'

@font-face
    font-family: title
    src: url('../fonts/chunkfive.otf')

@font-face
    font-family: main
    src: url('../fonts/district-pro-thin.otf')

green = #27AE60
blue = #1BABF4

select
    float: right
    font-size: 30px
    font-weight:  bold

#content
    font-family: main

.step-intro
    padding: 20px
    color: white
    background: green
    padding-left: 40px

.step-productivity
    padding: 50px

    h2
        font-family: title
        font-weight: normal

.step-compare
    background: blue
    padding: 50px
    color: white

    h2
        font-family: title
        font-weight: normal

h1 
    margin-top: 0
    margin-bottom: 0
    font-family: title
    font-size: 46px
    font-weight: normal

h2
    margin-top: 0
    margin-bottom: 40px

h3
    margin-top: 0
    margin-bottom: 0

p
    font-style: italic 
    font-size: 26px

.prez
    width: 50%
    float: left
    padding-right: 20px

.value
    text-align: right
    float: right
    width: 50%

    h3
        font-size: 50px

