#content
  h1 Money Money
  h2#average-gain-month loading...
  h2#average-gain-day loading...
  h2#average-loss-month loading...
  h2#average-loss-day loading...
   
  canvas#graph-loss(width="1000", height="400")
